<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chat with AI</title>
  <link rel="stylesheet" href="static/main_style.css">
</head>
<body>
  <header>
    <button class="glow-on-hover" type="button">ИИ в роли: Программист</button>
    <button class="glow-on-hover" type="button">ИИ в роли: Копирайтер</button>
    <button class="glow-on-hover" type="button">Диалог</button>
    <button class="glow-on-hover" type="button">ИИ в роли: Писатель</button>
    <button class="glow-on-hover" type="button">ИИ в роли: Маркетолог</button>
  </header>
  <div class="chat-container">
    <div class="chat-box" id="chat-box">

    </div>
    <input type="text" id="user-input" placeholder="Введите сообщение...">
    <button onclick="sendMessage()" class="but_send">Отправить</button>
  </div>
  <script src="static/role.js"></script>
  <script src="static/script.js"></script>
</body>
</html>
