<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация/Вход</title>
    <link rel="stylesheet" href="static/reg_style.css">
</head>
<body>
    <div class="container">
        <h2>Регистрация/Вход</h2>
        <form action="/register" method="post">
            <label for="name">Имя</label>
            <input type="text" id="name" name="name" required>
            <label for="username">Логин</label>
            <input type="text" id="username" name="username" required>
            <label for="password">Пароль</label>
            <input type="password" id="password" name="password" required>
            <button type="submit">Зарегистрироваться</button>
            <a href="/login_page">Войти</a>
        </form>
    </div>
</body>
</html>